#### Obtener Tickets Reabiertos, el usuario considera que no fue resuelto o se presentó de nuevo la situación original

In [6]:
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import tkinter as tk
from tkcalendar import Calendar

load_dotenv()

%run conexionDB.ipynb

# Obtener la conexión
engine = obtener_conexion()

In [7]:
queryReabiertos = f"""
SELECT number, dept_id, topic_id, created, reopened
FROM ost_ticket
WHERE reopened != 'NULL'
"""    
# Imprimir la consulta para verificar
print(queryReabiertos)
    
# Ejecutar la consulta y almacenar los resultados en la variable global
df_reabiertos = pd.read_sql(queryReabiertos, engine)
df_reabiertos

SELECT number, dept_id, topic_id, created, reopened
FROM ost_ticket
WHERE reopened != 'NULL'

     number  dept_id  topic_id             created            reopened
0    000001        1        18 2019-02-06 18:25:51 2025-01-10 21:41:23
1    000012        1        18 2019-02-07 13:21:24 2019-02-07 16:35:25
2    000032        1        23 2019-02-08 15:59:03 2019-02-08 21:22:28
3    000064        1        17 2019-02-13 15:19:09 2019-02-13 18:13:16
4    000099        1        26 2019-02-18 14:15:52 2019-02-19 14:44:34
..      ...      ...       ...                 ...                 ...
836  040873        1        26 2025-01-02 15:26:10 2025-01-09 13:55:16
837  040877        1        18 2025-01-02 16:14:22 2025-01-02 21:27:27
838  040916        5        39 2025-01-03 22:41:44 2025-01-10 23:33:31
839  040972        1        26 2025-01-08 20:33:24 2025-01-08 21:40:51
840  041025        1        26 2025-01-10 17:28:17 2025-01-13 15:48:36

[841 rows x 5 columns]